.env
.env.backup*
*.zip

/vendor
/node_modules

/storage/logs/*.log
/storage/logs/*.xml
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

/bootstrap/cache/*.php

/database/database.sqlite

/public/storage
/public/storage/*
/public/storage/travel-assets

/storage/app/imports
/storage/app/imports/*
/storage/app/private/private
/storage/app/public/travel-assets
/storage/app/testing

/test-results
/playwright-report
.phpunit.result.cache

.DS_Store
Thumbs.db
